* {
    font-family: 'Yekan Bakh FaNum' !important;
}

select.txt, textarea.txt, input[type=text].txt, input[type=number].txt, input[type=password].txt, label.txt, select.formfld, textarea.formfld, input[type=text].formfld, input[type=number].formfld, input[type=url].formfld, input[type=password].formfld, label.formfld {
    width: 100% !important;
    margin: 0px;
    height: 48px;
    background: #ffffff;
    box-shadow: unset;
    border: unset;
    text-align: right !important;
    font-family: 'Yekan Bakh FaNum';
    color: #8C8C8C;
    font-size: 13px;
    outline-color: #dcc079;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}


.form-control-feedback {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-left: 1px solid #E1E3EA;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}