body {
    direction: rtl;
    font-family: 'Yekan Bakh FaNum', serif;
}

div#menu_side_container {
    left: unset;
    right: 0;
}

@media (min-width: 576px) {
    #main_content {
        margin: 0 28px;
        display: inline-block;
        width: unset;
    }

    div#content_container {
        float: left !important;
        background-color: #F9F9F9;
    }

    div#body_header {
        background-color: #F9F9F9;
    }

    div#footer {
        display: none
    }

    .menu_side_contract {
        display: none;
    }

    #menu_side_control_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img#menu_brand_image_expanded {
        border: none;
        height: auto;
        width: 100px;
        max-width: unset;
        max-height: unset;
        margin-left: unset;
    }

    div#menu_side_container {
        background-color: #232323;
        margin: 10px 10px 10px 0;
        z-index: 99900;
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: calc(100% - 20px);
        overflow: auto;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
        border-color: unset;
        border-width: unset;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        -khtml-border-radius: 12px;
        border-radius: 12px;
    }

    div#menu_side_control_container {
        background-color: #232323;
    }
}